[submodule ".extra/zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .extra/zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".extra/zsh_custom/plugins/zsh-autosuggestions"]
	path = .extra/zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
