
##
## 1 keystroke instead of 26.  Note that "const" overrides this.
## Allow nano to be suspended.
## All regexes should be extended regular expressions.
## ", ', ), >, ], and }.
## are editing a file [s]he is trying to edit and vice versa. There are
## a separate buffer).
## backslashes.  The last double quote in the string will be treated as
## Back up files to the current filename plus a tilde.
## beginning of the line.
# bind Del backspace all
# bind M-B cutwordleft main
# bind M-N cutwordright main
# bind M-Q findprevious main
# bind M-W findnext main
# bind ^S savefile main
## case-insensitive matches.
## characters as parts of words.
## color foreground,background "regex" ["regex"...]
## "color" will do case-sensitive matches, while "icolor" will do
## color will use a transparent color.  If you don't want this, be sure
## come before the latter set, and both must be in the same order.
## Constantly display the cursor position in the statusbar.  Note that
## Convert typed tabs to spaces.
## cursor is already at that position, it will jump to the true
## Detect word boundaries more accurately by treating punctuation
## Disallow file modification.  Why would you want this in an rcfile? ;)
## Do backwards searches by default.
## Do case-sensitive searches by default.
## does not properly have a default value.
## Do extended regular expression searches by default.
## Don't add newlines to the ends of files.
## Don't convert files from DOS/Mac format.
## Don't display the helpful shortcut lists at the bottom of the screen.
## Don't follow symlinks when writing files.
## don't match any other syntax's filename regexes.
## Don't wrap text at all.
## Do quick statusbar blanking.  Statusbar messages will disappear after
## DOS or Mac format, and that characters specially interpreted by the
## double click), and execute shortcuts.  The mouse will work in the X
## Enable mouse support, if available for your system.  When enabled,
## Enable ~/.nano_history for saving and reading search/replace strings.
## Enable soft line wrapping (AKA full-line display).
## Enable vim-style lock-files.  This is just to let a vim user know you
## Fix Backspace/Delete confusion problem.
## Fix numeric keypad key confusion problem.
## For foreground colors, you may use the prefix "bright" to get a
## Format:
## For the options that take parameters, the default value is given.
## for this file to be read!  Also note that this file should not be in
## icolor foreground,background "regex" ["regex"...]
## If the value is 0 or less, the wrapping point will be the screen
## If you have extended regular expression support, the default is:
## If your system supports transparency, not specifying a background
## If you wish, you may put your syntax definitions in separate files.
include "~/.nano/apacheconf.nanorc"
include "~/.nano/arduino.nanorc"
include "~/.nano/asciidoc.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/coffeescript.nanorc"
include "~/.nano/colortest.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/csharp.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/Dockerfile.nanorc"
include "~/.nano/dot.nanorc"
include "~/.nano/email.nanorc"
include "~/.nano/fish.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/glsl.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/inputrc.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/keymap.nanorc"
include "~/.nano/kickstart.nanorc"
include "~/.nano/ledger.nanorc"
include "~/.nano/lisp.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/mpdconf.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/ocaml.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/peg.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/pkgbuild.nanorc"
include "~/.nano/pkg-config.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/privoxy.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/rpmspec.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/rust.nanorc"
include "~/.nano/scala.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sls.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/systemd.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/vala.nanorc"
include "~/.nano/vi.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/xresources.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/yum.nanorc"
include "~/.nano/zsh.nanorc"
## include "/path/to/syntax_file.nanorc"
# include "/usr/share/nano/*.nanorc"
## is changed to here, so any files are inserted from this dir.  A blank
## ISO-8859-1 (0000B7 in Unicode) seem to be good values for these.
## its end.  For example, for the "brackets" option, ""')>]}" will match
## Key bindings.
## Make the Home key smarter.  When Home is pressed anywhere but at the
## mouse clicks can be used to place the cursor, set the mark (with a
## name inside that file.  These names are kept fairly short to make
## ".nanorc" extension) should be the same as the "short description"
## no plans to implement vim-style undo state in these files.
## of tabs and spaces.  187 in ISO 8859-1 (0000BB in Unicode) and 183 in
## or
## Other options are unset by default.
## Otherwise:
## otherwise a literal string.
## Paint the interface elements of nano.
## paragraphs.  They cannot contain blank characters.  Only closing
## Please note that you must have configured nano with --enable-nanorc
## Preserve the XON and XOFF keys (^Q and ^S).
## punctuation, optionally followed by closing brackets, can end
## Quotes inside string parameters don't have to be escaped with
## Remember the cursor position in each file for the next editing session.
## Sample initialization file for GNU nano.
## Save automatically on exit; don't prompt.
## searches.  They cannot contain blank characters.  The former set must
## See nanorc(5) (section REBINDING KEYS) for more details on this.
## sentences.
# set autoindent
# set backup
# set backupdir ""
# set backwards
# set boldtext
# set brackets ""')>]}"
# set casesensitive
# set constantshow
# set cut
# set fill -8
# set functioncolor yellow
# set historylog
# set keycolor green
# set locking
# set matchbrackets "(<[{)>]}"
# set morespace
# set mouse
# set multibuffer
# set noconvert
# set nofollow
# set nohelp
# set nonewlines
# set nowrap
# set operatingdir ""
## Set operating directory.  nano will not read or write files outside
# set positionlog
# set preserve
# set punct "!.?"
# set quickblank
# set quiet
# set quotestr "^([ 	]*[#:>\|}])+"
# set quotestr "> "
# set rebinddelete
# set rebindkeypad
# set regexp
# set smarthome
# set smooth
# set softwrap
# set speller "aspell -x -c"
# set statuscolor brightwhite,green
# set suspend
# set tabsize 8
# set tabstospaces
# set tempfile
## Set the line length for wrapping text and justifying paragraphs.
## Set this if your Backspace key sends Del most of the time.
# set titlecolor brightwhite,blue
## Setup of syntax coloring.
# set view
# set whitespace ">."
# set whitespace "»·"
# set wordbounds
## shell should not be escaped here.
## Silently ignore problems with unknown directives in the nanorc file.
## special: it takes no filename regexes, and applies to files that
## [start="regex" end="regex"...] format.
## string means the operating-directory feature is turned off.
## stronger highlight.
## Switch on multiple file buffers (inserting a file will put it into
## syntax "short description" ["filename regex" ...]
## The characters treated as closing brackets when justifying
## The characters treated as closing punctuation when justifying
## The default otherwise:
## The default when in a UTF-8 locale:
## The directory to put unique backup files in.
## The email-quote string, used to justify email-quoted paragraphs.
## The following five functions are not bound to any key by default.
## them easier to remember and faster to type using nano's -Y option.
## The "none" syntax is reserved; specifying it on the command line is
## (The old form, 'const', is deprecated.)
## (The old form, 'poslog', is deprecated.)
## The opening and closing brackets that can be found by bracket
## the same as not having a syntax at all.  The "default" syntax is
## The two single-column characters used to display the first characters
## this directory and its subdirectories.  Also, the current directory
## This is an example; by default there are no colors.
## This is an extended regular expression if your system supports them,
## this overrides "quickblank".
## To include all existing syntax definitions, you can do:
## To make sure an option is disabled, use "unset <option>".
## to set the background color to black or white.
## To use multi-line regexes, use the start="regex" end="regex"
## Unless otherwise noted, the name of the syntax file (without the
## Use auto-indentation.
## Use bold text instead of reverse video text.
## Use cut-to-end-of-line by default.
## Useful when your nanorc file might be read on systems with multiple
## Use smooth scrolling as the default.
## Use the blank line below the titlebar as extra editing space.
## Use this spelling checker instead of the internal one.  This option
## Use this tab size instead of the default; it must be greater than 0.
## Valid colors: white, black, red, blue, green, yellow, magenta, cyan.
## versions of nano installed (e.g. your home directory is on NFS).
## very beginning of non-whitespace characters on a line, the cursor
## width less this number.
## will jump to that beginning (either forwards or backwards).  If the
## Window System, and on the console when gpm is running.
## You can make use of such files as follows:
## You may wish to choose different keys than the ones suggested here.
include "~/.nano/apacheconf.nanorc"
include "~/.nano/arduino.nanorc"
include "~/.nano/asciidoc.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/coffeescript.nanorc"
include "~/.nano/colortest.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/csharp.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/dot.nanorc"
include "~/.nano/email.nanorc"
include "~/.nano/Dockerfile.nanorc"
include "~/.nano/fish.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/glsl.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/inputrc.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/keymap.nanorc"
include "~/.nano/kickstart.nanorc"
include "~/.nano/ledger.nanorc"
include "~/.nano/lisp.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/mpdconf.nanorc"
include "~/.nano/mutt.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/ocaml.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/peg.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/pkg-config.nanorc"
include "~/.nano/pkgbuild.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/privoxy.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/rpmspec.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/rust.nanorc"
include "~/.nano/scala.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sls.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/systemd.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/vala.nanorc"
include "~/.nano/vi.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/xresources.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/yum.nanorc"
include "~/.nano/zsh.nanorc"
